
We need to have following applications


Simple Angular application, where user publish event. For example patientId, patientName, patientRoom will be submitted from the UI. 
Spring Boot Application will have a rest endpoint
it will save this information to a table called PatientLocation etc.
Than it will publish location information to azure service bus topic. Use local version of servicebus. Use azure sdk for publishing.

Then in that spring boot app also create a listener which subscribe to that topic.
When we receive message we will make  an feign request to another endpoint. 


That endpoint will be another service which will be written in python. That service will just log it in terminal right now. 
  
